@model ClientManagerLibrary.CaseStatus

@{
    ViewBag.Title = "Details";
}

<h2>See Current Status Selection</h2>

<div>
    @*<h4>Current Status</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaseStatusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
